<DOCTYPE html>
	<!DOCTYPE html>
	<html>
	<head>
		<meta charset="utf-8">
		<title>Under construction</title>
	</head>
	<body>
		<div align="center">
	 <h1 style=" color: red;">Area under maintainance</h1>
	 <img src="http://affiniahealthcare.org/wp-content/uploads/2016/05/UnderConstruct-300x289.jpg">

	</body>
	</html>